@model Factory.Models.Machine

<h2>Add a Engineer</h2>

<h4>Add a Engineer to @Html.DisplayFor(model => model.MachineId)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.Label("Select Machine")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>